.af-name-listbox-list-wrapper {
    overflow: auto;
    width: calc(100% - 29px);
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ced4da;
    z-index: 999999;
}

.af-name-listbox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #495057;
    font-weight: 400;
}

.af-name-listbox-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
}

.af-name-listbox-item:hover {
    background: #e9ecef;
}

.af-name-listbox-item.selected {
    background: #ecedee;
}

.af-name-listbox-filter-container {
    position: relative;
}

.af-name-listbox-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}

.af-name-listbox-filter {
    width: 100%;
}

/* ------------------------*/

.af-date-listbox-list-wrapper {
    overflow: auto;
    width: calc(100% - 29px);
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ced4da;
    z-index: 999999;
}

.af-date-listbox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #495057;
    font-weight: 400;
}

.af-date-listbox-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
}

.af-date-listbox-item:hover {
    background: #e9ecef;
}

.af-date-listbox-item.selected {
    background: #ecedee;
}

.af-date-listbox-filter-container {
    position: relative;
}

.af-date-listbox-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}

.af-date-listbox-filter {
    width: 100%;
}

.filter-header-name {
    position: relative;
}

.filter-header-date {
    position: relative;
}

.custom-name-filter-icon {
    position: absolute;
    right: 22px;
    top: 25px;
    cursor: pointer;
    z-index: 1000;
}

.custom-date-filter-icon {
    position: absolute;
    right: 22px;
    top: 25px;
    cursor: pointer;
    z-index: 1000;
}


.datatable-filter-demo .p-paginator .p-paginator-current {
    margin-left: auto;
}

.datatable-filter-demo .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;
}

.datatable-filter-demo .p-progressbar .p-progressbar-value {
    background-color: #607D8B;
}

.datatable-filter-demo .table-header {
    display: flex;
    justify-content: space-between;
}

.datatable-filter-demo .p-datepicker {
    min-width: 25rem;
}

.datatable-filter-demo .p-datepicker td {
    font-weight: 400;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: left;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable-filter-demo .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

/*
    Styling example
*/
.p-datatable-tbody .outofstock {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #FF5252;
    text-decoration: line-through;
    vertical-align: middle;
}

.p-datatable-tbody .lowstock {
    font-weight: 700;
    color: #FFA726;
}

.p-datatable-tbody .instock {
    font-weight: 700;
    color: #66BB6A;
}

.p-datatable-tbody .row-accessories {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.p-datatable-tbody .row-accessories {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
