.editor-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.quill-editor {
    padding: 12px 0 0 0;
    width: 100%;
    flex: 1 1 auto;
}

.editor-buttons-container {
    width: 100%;
    flex: 1 1 auto;
    padding: 12px 0 0 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.confirm-button-for-editor {

}

.load-content-button {

}