.grid-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.data-table {
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid rgb(135, 132, 135);
}

.data-tables {
    width: 100%;
    flex: 1 1 auto;
}

.select-data-table {
    margin-left: 12px;
}

.alt-grid-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding-top: 12px;
}

.prime-progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prime-progress-spinner > .p-progress-spinner > .p-progress-spinner-svg {
    width: 48px !important;
} 